%h1 Welcome, you have successfully created a new ticket!
%hr
%h2 
	= @ticket.subject
%p 
	= @ticket.body
%p See full history of ticket here:
= link_to 'Ticket history', url_for(ticket_path(@ticket, only_path: false))
%p Edit ticket
= link_to 'Update ticket', url_for(edit_ticket_path(@ticket, only_path: false))