= simple_form_for([@ticket, @response]) do |f|
  = f.error_notification

  = f.input :body, required: true, input_html: {class: 'form-control'}
  = f.button :submit, class: 'btn btn-primary form-control', value: 'Send'
